.cardDetail {
  height: 240px;
  border-style: 2px solid;
  border-radius: 16px;
  padding: 7px 0 0 7px;
  background-color: #add8e6;
  width: 340px;
}

.transactionList {
  height: 240px;
  border-style: solid;
  border-radius: 16px;
  padding-left: 7px;
  width: 340px;

  margin-top: 7px;
  overflow-y: scroll;
}

.btn_remove_card {
  background-color: #d3d3d3;
  text-align: center;
  width: 130px;
  border-radius: 16px;
  margin-left: calc(50% - 20px);
  padding-top: 15px;
  height: 40px;
}

.btn_remove_card:hover {
  cursor: pointer;
  background-color: #808080;
}
