@media screen and (max-width: 320px) {
  .navigationBar {   
    flex-direction: column;
    text-align: center;
    height: 85px !important;
  }

  .routerlinks {
    padding-top: 7px;
  }
}

.navigationBar {
  background-color: #003257;
  display: flex;
  width: 100vw;
  height: 40px;
  margin-left: -8px;
  margin-top: -10px;
}
.routerlinks {
  margin-right: 12px;
  color: #fff;
  padding-left: 12px;
  padding-top: 9px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
